<footer class="text-center">
    <span>
        <img src="images/grand-est.png" class="logo"/>
        <img src="images/logo_reg_reims.png" class="logo"/>
        <img src="images/logopft.png"  alt="" class="logo"/>
        <img src="images/Logo_ADEME.png"  alt="" class="logo"/>
    </span> 
    <span> 
        Copyright © Région Grand-Est
    </span>
</footer>